primary-color = #223353 // #ffe92e
secundary-color = black
terciary-color = white
font-color = #aaa

box-shadow = 0 2px 10px 0 rgba(0,0,0,0.6)

limit = 10
unit = 8px


size($value)
    $value * unit

reset-pm()
	padding 0
	margin 0

btn($background-color, $color, $bold)
    background-color: $background-color
    color: $color
    border-radius: 50px
    padding: 10px 20px
    text-align: center
    display: flex
    align-items: center
    justify-content: space-around
    if $bold == 'true'
        font-weight: bolder

*
	reset-pm()
	box-sizing border-box

body
	reset-pm()
	background-color primary-color !important
	font-family Arial, Helvetica, sans-serif

.collapsed
	display: none

nav
	width: 100%

	.mobile
		display: none
		.header
			display: flex
			justify-content: space-between
			align-items: center
			padding-left: 10px
			.more button
				border: none
				background-color: primary-color
				font-size: 20px
				color: terciary-color
				padding: 15px
				cursor pointer
		.link .btn
				margin-top: 5px


	.logo
		background-color: white
		border-radius: 10px
		min-width 250px
		img
			padding: 0 20px
			width: 250px
	
	a.btn
		text-decoration: none
		btn(terciary-color, font-color, 'true')
		&:hover
			btn(terciary-color, secundary-color,'true')	

	.desktop
		display: flex
		justify-content: space-between
		align-items: center
		// padding: 0 20px

		.primary, .secondary
			display: flex
			gap: 10px
		
		.secondary.mini
			display: none
			gap: 10px
			a.more
				border: none
				background-color: primary-color
				font-size: 20px
				color: terciary-color
				padding: 15px
				cursor pointer

.main
	background-color: white
	margin: 10px auto
	// width 80%
	height: 500px
	padding: 20px
	box-shadow: 0 0 20px 2px rgba(0,0,0,0.1)
	background-image url("../images/bg2.jpg")
	background-size: 100% 100%

.titulo
	padding-top: 200px
	font-weight: bolder
	line-height: 1em
	font-size: 2em

.qr
	margin-top: 280px
	background-color: white
	width: 152px
	height: 152px
	padding: 20px
	border: 6px solid primary-color

.card
	&:hover
		border: 6px solid font-color

@media screen and (max-width: 990px)
	nav 
		.logo
			min-width 100px
		.secondary.full
			display: none
		.secondary.mini
			display: block !important
		.secondary.mini .submenu
			margin-top: 5px
			position: absolute
			display: none
			width: 200px
			right: 0
			a
				margin-top: 5px
		.secondary.mini:hover .submenu
			display: block

@media screen and (max-width: 992px)
	.titulo
		padding-top: 250px
		font-weight: bolder
		font-size: 1.5em

@media screen and (max-width: 710px)
	nav
		.desktop
			display: none
		.mobile
			display: block
	.titulo
		padding-top: 250px
		font-weight: bolder
		font-size: 1em

for i in (1..(limit))
    .mtop{i*8}
        padding-top: i * 8px

// .btn
//     &.btn-cta
//         btn(primary-color,secundary-color,'true')
//         &:hover
//             btn(secundary-color,terciary-color,'true')
//             box-shadow: box-shadow
//     &:hover
//         btn(terciary-color, secundary-color,'true')
//         box-shadow: box-shadow


// body
//     background-color primary-color
//     font-family Arial, Helvetica, sans-serif

// a
//     color secundary-color
//     text-decoration none

// h2
//     font-weight bolder
//     font-size size(6)

// h3
//     font-weight lighter
//     font-size size(3)

// .container
//     background-color: white
//     margin: 50px auto
//     width 90%
//     height: 500px
//     padding: 20px
//     box-shadow: 0 0 20px 2px rgba(0,0,0,0.1)
//     background-image url("../images/bg2.jpg")
//     background-size: 100% 100%

// ul
//     reset-pm()
//     list-style: none
//     display: flex
//     gap: 10px
//     li
//         a
//             btn(terciary-color,font-color,'true')
//             &:hover
//                 btn(secundary-color,terciary-color,'false')
//                 box-shadow: box-shadow

// header
//     nav
//         display: flex
//         align-items: center
//         justify-content: space-between
// .prices
//     .prev
//         font-size: size(2)
//         font-weight: bolder
//         color: font-color
//         text-decoration: line-through
//     .now
//         font-size: size(5)
//         font-weight: bolder
// .row
//     display: flex
//     align-items: center
//     .col
//         width 50%
//     .col-40
//         width 40%
//     .col-60
//         width 60%

// .m-auto
//     margin: 0 auto

// for i in (1..(limit))
//     .m-{i}
//         margin: i * unit

// for i in (1..(limit))
//     .p-{i}
//         padding: i * unit

// for i in (1..(limit))
//     .py-{i}
//         padding: i * unit 0

// for i in (1..4)
//     .w-{i}
//         width: i * 25%