colorprin = #309BC7
colorosc = #3080C7
colorsec = #343A40
// colorsec = #81C822

body
	align-items center
	background-color #f6f6f6
	display flex	
	font-size 14px
	justify-content center
	margin 0px
	min-height 100vh

label
	font-weight: bold
	
.negrita
	font-weight: bold

.mtop16
	margin-top 16px
.box
	background-color #fff
	border-radius 8px
	bordex 1px solid #d6d6d6
	position relative
	width 500px
	.btn-success
		width 100%
	.inside
		padding 16px
	.header
		background-color #fff
		border-radius 8px 8px 0px 0px
		padding 4px
		a
			img
				display block
				margin 0px auto		
				width 50%
	.footer
		text-align center
		a
			display inline-block
			font-size .8em
			&:last-child
				margin-left 24px

//.box_login
//	left calc(50% - 250px)
//	top calc(50% - 250px)

//.box_register
//	left calc(50% - 250px)
//	top calc(50% - 300px)

.btn-convertir
	// margin-top -1px
	// height 37px
	// line-height: 15px
	background-color colorprin !important
	color #fff !important
	&:hover
		background-color colorsec !important

@media only screen and (max-width 728px)
	.box
		width 88%

