body	
	//background-image linear-gradient(-90deg, #F7FFFF, #F44B3F) !important
	background-color #f5f6fa
	font-size 14px
	font-family 'Roboto',sans-serif

h2,h3,h4,h5,ul,body,html
	padding 0px
	margin 0px
	
label
	font-weight bold

.negrita
	font-weight bold

.cursiva
	font-style italic

.mtop0
	margin-top 0px
	padding 0px

.mtop10
	margin-top 10px

.mtop8
	margin-top 8px
	margin-left 4px
	
.mtop16
	margin-top 16px

.mtop20
	margin-top 20px
	
.mtop30
	margin-top 30px
	
.mright16
	margin-right 16px
	
.mbottom10
	margin-bottom 10px
	
.mbottom20
	margin-bottom 20px
	
.menu-bar
	.botsup
		//background-image linear-gradient(-90deg, #D16F0E, #A90100) !important
		background-color #A90100 !important
		
.dropdown
	&:hover
		.dropdown-menu
			display: block
			
.dropdown-menu	
	background-color #A90100 !important	
	a
		color #FFF !important
		&:hover
			display: block
			background-color #A90100 !important
			font-weight 500
			border-bottom 1px solid #fff

.navbar-brand
	color #FFF !important

.nav-link
	font-size 16px
	margin 3px
	color #FFF !important
	font-weight 500
	&:hover
		//font-weight 600
		//border-bottom 0.5px solid #fff	

.navbar-nav
	text-align right
	margin-right 20px

.menu-bar .navbar-toggler
	color #FFF !important
	padding-right 20px
	outline none !important
	border none !important
	

.navbar-brand	
	img		
		width 50px
		margin-top 0px
		margin-left 20px

.icoesp
	font-size 50px

.especial	
	color #A90100 !important
	//background-color #f5f6fa
	//background-image linear-gradient(-90deg, #C8C8C8, #F44B3F) !important
	
.especilidades
	background-image url('/static/images/fondo4.jpg') !important
	background-attachment fixed
	//background-repeat no-repeat	
	//background-size cover
	//background-image url({{ url('static/images/carr3.png') }})
	//background-image linear-gradient(-90deg, #F7FFFF, #F44B3F) !important
	
.enlesp
	a
		color #A90100 !important
		&:hover
			color #D16F0E !important
			font-weight 600
			border-bottom 0.5px solid #fff
		
////// FOOTER /////////////////////////////////////////////////////////////
.footer
	color #fff !important
	background-color #A90100	


.lisfoot
	font-size 18px
	a
		color #fff !important
		background-color #A90100		
		li
			padding-bottom 10px

.titfoot
	font-weight 600

.icofoot
	font-size 40px
	color #fff !important
	background-color #A90100
	
////////////////////////////////////////////////////////////////////////////
.panel
	background-color #fff
	border-radius 6px
	border 2px solid #DE1B09
	width 100%
	.header
		border-bottom 1px solid #e8e8e8
		h2.title
			display inline-block
			color #A90100
			font-size 3.1em
			font-weight 600
			padding 6px 30px
	.inside
		padding-top 16px
		padding-bottom 16px
		padding-left 32px

.sepder
	border-right 1px solid #e8e8e8

.titder
	border-radius 6px
	font-size 20px
	font-weight 600
	background-color #A90100
	color #fff
	padding 16px
	margin-right 16px
	margin-left 0px !important
	
.lisder
	 list-style-type none
	 a
		color #A90100
		background-color #fff !important
		&:hover
			color #D16F0E !important
.act_sel
	color #D16F0E !important
	font-weight 600

.punteado	
	border-bottom 1px dotted
	font-size 18px
	padding-top 16px
	padding-bottom 16px
	padding-right 25px
	margin-right 16px
	
.imgsup
	padding-top 1px
	padding-left 16px
	padding-right 16px
	
/////////////  SEDES  //////////////////////////////////

.sed_titulo
	font-size 28px
	font-weight 600

.sed_contenido
	font-size 20px

.sed_icono
	color #A90100
	font-size 50px
	font-weight 600

////////////////////////// Botones Inferiores //////////////////////////////////////////////////////////////
.botinf
	//background-image linear-gradient(-90deg, #D16F0E, #A90100) !important
	background-color rgba(0,0,0, .0)
	bottom 0px
	padding 0px
	margin 0px

.telfinf
	color #fff !important
	background-color #895C61 !important
	font-size 20px !important
	font-weight 200 !important
	bottom 0px
	padding 0px
	margin 0px
	&:hover
		color #A90100 !important

///////////////////////////////////////////////////////////////////////////////////////////////////////////////
.tnoticia
	font-size 16px